* {
    box-sizing: border-box;
}

body {
    font-family: 'Pompiere', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    background-color: #f4f4f9;
    color: #222;
    padding: 0;
}

/* header */

header {
    background-color: #012e40;
    background-image: url(images/shoji.png) ;
    background-size: 100% 100%;
    
    padding: 1rem 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
}

header span {
    /* span */
    color: #f4f4f9;
    font-size: 1.6rem;
    font-weight: 400;
}

nav {
    background-color: #036280;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1rem 1.25rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

nav li.active a {
    background-color: #0388a6;
    color: #f4f4f9;
}

nav li a:hover {
    color: #ff6600;
}

nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #223b3f;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #fff;
}

nav .active a {
    border-bottom: solid 2px #8b5022;
}

nav a:hover {
    color: #000;
}



main {
    padding: 1.25rem 10px;
    border: 3px solid #036280;
    border-radius: 10px;
    margin: 1.25rem 10px;
    background-color: white;
}

main div {
    text-align: center;
}

main h1 {
    color: #036280;
    font-size: 2.5rem;
    margin-top: 1.875rem;
    text-align: center;
}

main h2 {
    color: #012e40;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
    margin-top: 1.25rem;
}

main p {
    margin: 0 0 1.25rem 0;
    color: #222;
    line-height: 1.6;
    padding: 0 10px;
}

main ol {
    padding: 0.5rem 30px;
    list-style-type: upper-roman;
    margin: 1.25rem 0;
    background-color: transparent;
}

main dl dt {
    color: #012e40;
    font-weight: 700;
    margin-top: 2rem;
    font-size: 3rem;
}

main dl dd {
    color: #036280;
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 0.625rem;
}

main ul {
    list-style-type: square;
    padding-left: 40px;
    margin: 1.25rem 0;
}

main a {
    color: #036280;
    text-decoration: none;
}

main a:hover {
    color: #ff6600;
}


figure {
    float: right;

}

figure img {

    width: 20vw;
}

div.gallery {

    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    gap: 20px 10px;
}

div.gallery figure img {

    width: 300px;
    height: 200px;
    margin: 0;

}

div.gallery figcaption {

    text-align: center;
    font-size: 1.3rem;
    color: #2220a8;
}


footer {
    background-color: #012e40;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: white;
    clear: both;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}

@media only screen and (max-width: 800px) {

    nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #232d50;
        text-decoration: none;
        border-bottom: solid 1px #0d1261;
        font-weight: 700;
        text-transform: uppercase;
    }

    nav .active a {
        background-color: #232d50;
        color: #232d50;
        background-image: linear-gradient(to bottom, #232d50, #323497);
    }

}




@media only screen and (max-width: 801px) {

    nav {
        border-top: solid 1px #E0E6E6;

    }

    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: 1.2rem 1rem .3rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #423392;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 2px #402377;
    }

    nav .active a {
        border-bottom: solid 2px #32228b;
    }

    nav a:hover {
        color: #000;
    }



}

.gallery img:hover{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

table.activities {
    width: 100%;
    border-collapse: collapse;

}

table.activities th{
    background-color: #31cf1c;
    color: rgb(189, 15, 15);
    padding: .6rem 2%;
    text-align: left;
}

table.activities td{
    color: #1296b8;
    padding: .4rem 2%;
}

table.activities tr:nth-child(odd){
    background-color: #972727;
}

table.activities tr:hover {
    background-color: #ddad0e;
}